* {
    margin: 0;
    padding: 0;
}


/* BODY STARTS */

body {
    justify-content: center;
    align-items: center;
    background: url(../images/bg.svg) center fixed rgba(0, 0, 0, 0.961);
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-position: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.mycontainer {
    width: 90%;
    position: relative;
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.leftdiv {
    width: 20%;
}

.rightdiv {
    width: 70%;
    flex-direction: column;
    /* height: 100vh; */
    /* overflow-y: scroll; */
    /* align-items: center; */
}

.leftdiv a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    padding: 2.5rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 2px;
}

.mycard {
    padding: 10px;
    flex-direction: column;
}

.formcard {
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px 80px;
}

.mycard,
.formcard {
    position: relative;
    width: 100%;
    color: #fff;
    display: flex;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

#twodiv,
#threediv {
    display: none;
    flex-direction: column;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content1 .links {
    width: 20%;
    padding: 10px;
}

.content1 .links .button1 {
    margin: 10px;
    width: 100%;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    padding: .5rem;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.content1 .links .button1:hover {
    background: #09ccee;
    color: #000;
}

.content1 .links .button1:focus {
    background: green;
    color: #000;
}

.content1 .links a {
    text-decoration: none;
    color: #09ccee;
}

h1 {
    margin-top: 5%;
    font-size: 50px;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #09ccee, 0 0 40px #09ccee;
    }
    to {
        text-shadow: 0 0 12px #fff, 0 0 22px #09ccee, 0 0 22px #09ccee, 0 0 42px #09ccee;
    }
}

h2 {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 4rem 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(255, 255, 255);
    transition: background-color 5000s ease-in-out 0s;
}

i {
    position: absolute;
    padding: 24px;
}

input {
    outline: none;
}

label {
    color: white;
    font-weight: 800;
}

option {
    font-weight: 800;
    background: transparent;
    color: black;
    padding: 10px 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="select"],
input[type="file"],
select,
textarea,
input[type="password"] {
    border: 0;
    background: none;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 300px;
    outline: none;
    font-weight: 800;
    border-radius: 24px;
    color: white;
}

input[type="radio"] {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 80px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="file"]:focus,
select:focus,
textarea:focus,
input[type="radio"]:focus,
input[type="password"]:focus {
    background: none;
    border-color: #2ecc71;
    transform: scale(1.1);
    color: white;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
input[type="file"]:hover,
select:hover,
textarea:hover,
input[type="radio"]:hover,
input[type="password"]:hover {
    border-color: #d304d3;
    transform: scale(1.1);
}

input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    font-weight: 800;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#update {
    border: 2px solid #b3d4c1;
}

#update:hover {
    background: #2ecc71;
}

@media screen and (max-width: 1028px) {
    h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
    }
    .mycontainer {
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .leftdiv {
        flex-direction: row;
        width: auto;
        margin: auto;
    }
    .mycontainer {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 35px;
    }
    .mycard {
        width: auto;
        margin: 10px;
        padding: 2px;
    }
    .content {
        flex-direction: column;
        margin: 10px;
    }
    label {
        font-size: 13px;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="select"],
    input[type="file"],
    select,
    textarea,
    input[type="password"] {
        width: 220px;
        margin: 15px auto;
    }
    label {
        width: 130px;
    }
    i {
        padding: 30px 15px;
    }
}