* {
    margin: 0;
    padding: 0;
}


/* BODY STARTS */

body {
    justify-content: center;
    align-items: center;
    background: url(../images/bg.svg) center fixed rgba(0, 0, 0, 0.961);
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-position: center;
<<<<<<< HEAD
    
=======
    overflow: hidden;
>>>>>>> Version/main
}

.mycontainer {
    position: relative;
    width: 100%;
    /* margin-top: 5%; */
}

iframe {
    width: 100%;
<<<<<<< HEAD
    height: 480px;
    /* height: fit-content; */
    margin-top: 1%;
=======
    height: 80vh;
    margin: 50px auto;
>>>>>>> Version/main
}