body {
    font-family: josefin sans, sans-serif;
    background: #000;
    color: #fff;
    margin: 0;
    width: auto;
    padding: 0
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100px;
    font-size: 15px
}

nav {
    color: #fff;
    margin: 30px 90px
}

nav ul {
    list-style: none
}

nav ul li {
    display: inline-block;
    transition: .3s
}

nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: #efeef5;
    transition: .5;
    font-size: 17px;
    margin-left: 16px
}

nav ul:hover li a {
    opacity: .3;
    filter: blur(1px)
}

nav ul li:hover a {
    text-decoration: none;
    opacity: 1;
    filter: blur(0)
}

nav ul li:hover {
    transform: scale(1.4, 1.4);
    text-decoration: none;
    transition: .3s
}

.logo {
    width: 35px;
    height: 35px;
    background: #efeef5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg)
}

.logo span {
    color: #591bc5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: 700
}

.nlogo {
    width: 50px;
    height: 50px
}

.lft {
    margin-left: 30px;
    margin-right: 80px
}

.lft p {
    margin-left: 10px;
    float: right
}

#bck {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .5
}

.eventhead {
    margin-top: 45px;
    margin-bottom: 30px;
    margin-left: -50px;
    text-align: center;
    font-size: 33px;
    color: #fff
}

.event {
    display: flex;
    flex-direction: column
}

.eitems,
.oitems {
    width: 83%;
    margin-left: 90px;
    margin-right: 50px;
    margin-bottom: 75px;
    height: 40vh;
    padding-left: 10px;
    margin-top: 75px;
    display: flex;
    align-items: center;
    transition: all .5s !important
}

.eitems:hover,
.oitems:hover {
    transform: scale(1.05) !important
}

.eitems .eventpic {
    margin: 0 130px;
    margin-right: 100px;
    margin-left: 55px;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    transition: all .5s
}

.oeventpic {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    transition: all .5s
}

@media screen and (max-width:1150px) {
    .oitems {
        flex-direction: column-reverse;
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .eitems {
        flex-direction: column;
        margin-left: 0 !important;
        margin-top: 85px !important;
        margin-bottom: 70px !important;
        margin-right: 0 !important
    }

    .eventpic {
        margin: 10px 0 !important
    }

    .oeventpic {
        margin: 10px 0 !important
    }

    .descrip {
        width: 300px !important
    }

    .descrip h1 {
        font-size: 1.5em
    }

    .event {
        height: auto
    }

    .oitems {
        margin-top: 230px !important;
        justify-content: center
    }

    nav ul li a {
        font-size: 15px
    }
}

.descrip {
    line-height: 1.6;
    width: 700px;
    font-size: 35px;
    text-align: center;
    letter-spacing: 2px
}

.descrip h1 {
    margin: 0;
    text-align: center;
    background-color: #f3ec78;
    background-image: linear-gradient(135deg, #f3ec78, #af4261);
    background-size: 100%;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    filter: brightness(140%);
    transition: all .5s
}

.oitems .descrip {
    margin-right: -15px;
    margin-left: 30px;
    margin-right: 80px;
    line-height: 1.6;
    width: 700px;
    text-align: center
}

.descrip p {
    margin: auto !important;
    font-size: 21px;
    text-align: justify
}