* {
    font-family: "Bellota", "Belgrano", serif;
}

body {
    font-family: "Bellota", "Belgrano", serif;
}

#logo-name {
    margin-left: 0.5rem;
    font-size: 15px;
}

.Navbar {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: white;
    margin: 1rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 80;
}

.left {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left img {
    z-index: 2;
}

.humberger {
    margin: 35px 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 4px rgb(194, 128, 255), inset 0 0 4px rgb(213, 161, 255), 0 0 8px #09ccee, 0 0 5px #09ccee, 0 0 8px #09ccee, inset 0 0 5px #09ccee, 0 0 8px #09ccee;
}

.menu-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100vh);
    z-index: 90;
}

.line1,
.line2 {
    height: 2px;
    width: 27px;
    background: rgba(233, 233, 233, 0.788);
    margin-bottom: 5px;
    transition: all 0.3s ease-out;
}

.line2 {
    margin: 5px 0px 0px;
}

.links {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.link-item {
    opacity: 0;
    margin: 0 auto;
}

.link-item a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: white;
    transition: all 0.2s ease-in-out;
    background: #161616;
    z-index: 99;
}
#cover{
    width: 90%;
    height: 90%;
}

.link-item a::before {
    content: "";
    height: 3px;
    width: 0vw;
    position: absolute;
    margin-top: 30px;
    right: 0;
    background: #09ccee;
    z-index: -1;
    transition: width 0.4s ease-out;
}

.link-item a:hover::before {
    width: 100%;
}

.link-item a:hover {
    text-shadow: 0 0 10px #09ccee, 0 0 4px rgb(213, 161, 255), 0 0 20px, 0 0 10px #09ccee, 0 0 20px #09ccee, 0 0 5px #09ccee, 0 0 20px#09ccee;
}

#topbutton {
    display: none;
    color: white;
    padding: 24px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    font-size: 38px;
    font-weight: bolder;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #09ccee, 0 0 40px #09ccee;
    }
    to {
        text-shadow: 0 0 15px #fff, 0 0 25px #09ccee, 0 0 25px #09ccee, 0 0 45px #09ccee;
    }
}

@media screen and (max-width: 1080px) {
    body {
        max-height: fit-content;
    }
    .Navbar {
        height: 80px;
        padding: 0;
    }
    #nittlogo {
        height: 65px;
        width: 65px;
    }
    .humberger {
        height: 55px;
        width: 55px;
    }
    #versionlogo {
        width: 140px;
        height: 40px;
    }
    #mca {
        width: 70px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    #versionlogo {
        width: 100px;
        height: 35px;
    }
    #mca {
        width: 58px;
        height: 35px;
    }
    .Navbar {
        height: 80px;
        padding: 0;
    }
    #nittlogo {
        width: 50px;
        height: 50px;
    }
    .humberger {
        height: 45px;
        width: 45px;
    }
}


.modal{
    z-index: 9999;
    opacity: 2;
}
#click{
    /* margin-top: 5rem; */
    z-index: 1;
    color: #fff;

}
#reg{
    font-size: 15px;

}
.link-item p{
    font-size: 25px;
    margin-left: 1rem;
   
    color: #fff;
    animation: blink 2s linear infinite;

}
#events{
    font-size: 25px;
    margin-left: 1rem;
   
    color: #fff;
    animation: blink 2s linear infinite;

}
@keyframes blink{
    
    50%{
opacity: 0;

    }
}