<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      href="{{url_for('static', filename='images/logos/vvv.png')}}"
      sizes="32*32"
    />
    <!-- Meta tags og -->
    <meta
      property="og:title"
      content="Deconsentro- Divide to Conquer (Version 21)"
    />
    <meta
      property="og:description"
      content="Version is an annual all India MCA meet conducted by the students of MCA at NIT, Trichy. And this year's theme is based on the Decentralized Applications."
    />
    <meta property="og:url" content="https://version21.in/" />
    <meta
      property="og:image"
      content="{{url_for('static', filename='images/logos/vers2.jpg')}}"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Belgrano&family=Bellota&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link rel="stylesheet" href="static/css/style1.css?v=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/footer.css')}}"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <!-- ********* -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
    {% block header %} {% endblock %}
  </head>

  <body>
    <div class="Navbar">
      <div class="logo">
        <img
          id="nittlogo"
          src="{{url_for('static', filename='images/logos/nitt.png')}}"
          alt="NO"
          width="50px"
        />
        <a href="/"
          ><img
            id="versionlogo"
            src="{{url_for('static', filename='images/logos/v4.png')}}"
            alt="NO"
            width="110px"
        /></a>
      </div>

      <div class="left">
        <img
          id="mca"
          style="margin-left: 20px; z-index: 2"
          src="{{url_for('static', filename='images/logos/mcalogo.png')}}"
          width="80px"
          alt=""
        />
        <div class="humberger">
          <div class="line1"></div>
          <div class="line2"></div>
        </div>
      </div>
    </div>

    <div class="menu-container">
      <ul class="links">
        <li class="link-item"><a href="/">HOME</a></li>
        <li class="link-item">
          <a class="events" href="/events"
            >EVENTS <span id="reg">(Registrations Open)</span></a
          >
        </li>
        <li class="link-item"><a href="/teams/ccc">TEAMS</a></li>
        <li class="link-item"><a href="/about">ABOUT</a></li>
        <li class="link-item">
          <a
            class="events"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            id="click"
          >
            MAGAZINE <span id="reg">(new)</span></a
          >
        </li>
        <!-- <button
          type="button"
          class="btn btn-outline-warning"
          data-toggle="modal"
          data-target="#staticBackdrop"
          id="click"
        >
          Hint
        </button> -->
        <li class="link-item"><a href="/contact">CONTACT</a></li>
        {% if current_user.is_authenticated %}

        <li class="link-item"><a href="/profile">PROFILE</a></li>
        <li class="link-item"><a href="/logout">LOGOUT</a></li>
        {% else %}
        <li class="link-item"><a href="/login">LOGIN</a></li>
        {% endif %}
      </ul>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">version magazine</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="{{ url_for('static', filename='images/logos/cover.jpg') }}"
              id="cover"
            />
          </div>
          <div class="modal-footer">
            <a
              class="btn btn-success"
              href="/static/magazine/Versionize-June-2021.pdf"
              download
              >Download
            </a>

            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Ok
            </button>
          </div>
        </div>
      </div>
    </div>

    <i class="fas fa-arrow-up" id="topbutton" onclick="topFunction()"></i> {%
    block content %} {% endblock %}

    <script>
      mybutton = document.getElementById("topbutton ");
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 700 ||
          document.documentElement.scrollTop > 700
        ) {
          topbutton.style.display = "block";
        } else {
          topbutton.style.display = "none";
        }
      }

      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      document.querySelector(".btn").addEventListener("click", () => {
        document.querySelector(".btn").style.color = "red";
      });
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
      integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static',filename='js/navbar.js')}}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
