{% extends "base.html" %} {% block header %}

<link rel="stylesheet" href="static/css/contact.css" />
<title>{{title}}</title>

{% endblock %} {% block content %}

<h1 style="margin-bottom: 2rem; margin-top: 41px">Get in touch with us!</h1>
<div class="contact-box">
    <div class="container">
        <div class="header">
            <h2>For any further queries or clarifications please mail at:</h2>
            <h4><i class="fas fa-envelope"></i>&nbsp; version21@gmail.com</h4>
        </div>
        <hr>
        <div class="other">
            <h2>You can also drop your queries at:</h2>
            <img src="static/images/logos/linkedin.svg" height="50" width="100" alt="linkedin">
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}