{% extends "base.html" %} {% block header %}

<link rel="stylesheet" href="static/css/contact.css" />
<title>{{title}}</title>

{% endblock %} {% block content %}

<h1 style="margin-bottom: 2rem; margin-top: 41px">Get in touch with us!</h1>

<div class="contact-box">
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="static/images/ccc/024.jpg" />
                <div class="heading">
                    <h2>Secretary</h2>
                </div>
                <div class="content">
                    <h4>Bhumika Khakha</h4>
                    <hr />
                    <p><i class="fas fa-envelope"></i> version@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../static/images/chairpersons/010.jpg" />
                <div class="heading">
                    <h2>Chairman</h2>
                </div>
                <div class="content">
                    <h4>Mayank Sharma</h4>
                    <hr />
                    <p><i class="fas fa-envelope"></i> version@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="../static/images/ccc/097.jpg" />
                <div class="heading">
                    <h2>Treasurer</h2>
                </div>
                <div class="content">
                    <h4>Shivam Dubey</h4>
                    <hr />
                    <p><i class="fas fa-envelope"></i> version@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}