{% extends "base.html" %} {% block header %}

<title>{{event['name']}}</title>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    position: relative;
    background: url(../static/images/bg.svg) center fixed rgba(0, 0, 0, 0.912);
    background-blend-mode: overlay;
    background-size: contain;
    font-family: "Bellota", "Belgrano", serif;
  }
  .main2 {
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
  }
  .slide {
    width: 85%;
  }
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 150px;
    justify-content: center;
  }
  .head h1 {
    color: #09ccee;
    font-size: 50px;
    margin: 4rem;
  }
  .imgbox {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin-right: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card {
    height: 400px;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
    /* --notchSize: 40px;
        clip-path: polygon(
          100% 0%,
          100% calc(100% - var(--notchSize)),
          calc(100% - var(--notchSize)) 100%,
          0% 100%,
          0% var(--notchSize),
          var(--notchSize) 0%
        ); */
    /* background-color: white; */
    border-radius: 0px 50px;
  }
  .card-text {
    height: 285px;
    color: white;
    /* padding: 0.2rem; */
    font-size: 17px;
    letter-spacing: 1px;
    overflow-y: scroll;
  }
  .card-text p {
    line-height: 1px;
  }
  .card-header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .card-header ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .card-header ul li {
    list-style: none;

    color: white;
    /* background-color: white; */
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2px;
    /* background-color: white; */
    /* border: 2px solid gray; */
    transition: 0.5s;
  }

  .content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  .prev,
  .next {
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  .active {
    color: black;
  }

  .card-header ul li:hover {
    color: black;
    background-color: white;
  }
  .card-header ul li.active {
    color: black;
    background: #fff;
  }

  @media screen and (max-width: 768px) {
    .card-header ul li {
      font-size: 10px;
    }
    .card {
      width: 310px;
    }
    .card-text {
      font-size: 18px;
    }
    .imgbox {
      height: 80px;
      width: 80px;
    }
    .head h1 {
      font-size: 40px;
    }
    .prev,
    .next {
      font-size: 18px;
    }
  }
  #rules {
    display: none;
  }
</style>
{% endblock %} {% block content %}
<div class="main2">
  <div class="prev">
    {% if id == 1 %}
    <a href="{{url_for('desc', id = 4)}}"
      ><i class="fas fa-chevron-left"></i
    ></a>
    {% else %}
    <a href="{{url_for('desc', id = id-1)}}"
      ><i class="fas fa-chevron-left"></i
    ></a>
    {% endif %}
  </div>
  <div class="slide" id="slide1">
    <div class="head">
      <!-- <img
          class="imgbox"
          src="https://mindmatrixwellnessstudio.com/wp-content/uploads/2018/11/Mind-icon-1-Optimized.jpg"
        /> -->
      <h1>{{event['name']}}</h1>
    </div>
    <div class="content">
      <div class="card text-center">
        <div class="card-header">
          <ul>
            <li class="btn active">DESCRIPTION</li>
            <li class="btn">RULES</li>
            <li class="btn">FORMAT</li>
            <li class="btn">REGISTER</li>
            <li class="btn">CONTACT</li>
          </ul>
        </div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore,
            voluptatibus consequatur dolor minus repellendus saepe nostrum
            accusantium in ab quia, iusto ratione itaque tenetur corrupti eaque,
            perspiciatis sapiente doloribus reiciendis! Lorem ipsum, dolor sit
            amet consectetur adipisicing elit. Tempore, voluptatibus consequatur
            dolor minus repellendus saepe nostrum accusantium in ab quia, iusto
            ratione itaque tenetur corrupti eaque, perspiciatis sapiente
            doloribus reiciendis! Lorem ipsum, dolor sit amet consectetur
            adipisicing elit. Tempore, voluptatibus consequatur dolor minus
            repellendus saepe nostrum accusantium in ab quia, iusto ratione
            itaque tenetur corrupti eaque, perspiciatis sapiente doloribus
            reiciendis! Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Tempore, voluptatibus consequatur dolor minus repellendus
            saepe nostrum accusantium in ab quia, iusto ratione itaque tenetur
            corrupti eaque, perspiciatis sapiente doloribus reiciendis!
          </p>
          <p class="card-text" id="rules">
            Rules are here!
            <!-- perspiciatis sapiente doloribus reiciendis! -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="next">
    {% if id==4 %}
    <a href="{{url_for('desc', id = 1)}}"
      ><i class="fas fa-chevron-right" id="next"></i
    ></a>
    {% else %}
    <a href="{{url_for('desc', id = id+1)}}"
      ><i class="fas fa-chevron-right" id="next"></i
    ></a>
    {% endif %}
  </div>
</div>
<script>
  var btns = document.querySelectorAll(".btn");
  var text = document.querySelectorAll(".card-text");

  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
      var current = document.getElementsByClassName("active");
      // var current1 = document.getElementsByClassName("active1");
      // current1[0].className = current1[0].className.replace(" active1", "");

      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }
</script>
{% endblock %}
