{% extends "base.html" %} {% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/desc.css')}}" />
<title>Scrim 1</title>
<!-- <title>{{event['name']}}</title> -->

{% endblock %} {% block content %} {% include 'message.html' %}
<div class="main2">
    <!-- <div class="prev">
        {% if id == 1 %}
        <a href="{{url_for('desc', id = 4)}}"><i class="fas fa-chevron-left"></i></a> {% else %}
        <a href="{{url_for('desc', id = id-1)}}"><i class="fas fa-chevron-left"></i></a> {% endif %}
    </div> -->
    <div class="slide" id="slide1">
        <div class="head">

            <!-- <h1>{{event['name']}}</h1> -->
            <h1>Scrim 1</h1>
            <h6>All the queries regarding the event will be addressed at our Version'21 Community Server
                <a href="https://discord.gg/dcKbGm8m" target="_blank"><i class="fab fa-discord"></i>.</a>
            </h6>
        </div>
        <div class="content">

            <div class="card ">
                <div class="tab text-center">
                    <button class="tablinks active" onclick="openTab(event, 'Description')">
                        Description
                    </button>

                    <button class="tablinks" onclick="openTab(event, 'Format')">
                        Format
                    </button>

                    <button class="tablinks" onclick="openTab(event, 'Rules')">
                        Rules
                    </button>

                    <button class="tablinks" onclick="openTab(event, 'Register')">
                        Register
                    </button>

                    <button class="tablinks" onclick="openTab(event, 'Contact')">
                        Contact
                    </button>
                </div>

                <div id="Description" class="tabcontent active" style="display: flex; text-align: left;">
                    <div class="desc">
                        <!-- <p>{{event['desc']}}</p> -->

                        <p>The Scrims are being conducted by Team Version.</p>
                        <p>This year we bring the very first edition of the Scrims Initiative- Scrim 1.</p>
                        <p>This contest will check your problem-solving skills.</p>
                        <p>Participate and outsmart other participants to reach at the peak of the Leaderboard.</p>
                        <p>May the best coder win!</p>
                        <p>Starts at 08:00 PM, 12 June 2021</p>
                    </div>
                </div>

                <div id="Format" class="tabcontent">
                    <div class="format">
                        <ul>
                            <li>This is an open coding contest, hosted on hackerearth.</li>
                            <li>There will be 8 problems and you will get 2 hours and 30 minutes to solve them.</li>
                            <li>Points are distributed according to problem levels.</li>
                            <li>The Contest is open i.e. it will not be proctored. </li>
                            <li>At the end of the Contest, participants having maximum scores will win.</li>
                        </ul>
                    </div>
                </div>
                <div id="Rules" class="tabcontent" style="text-align: left;">
                    <div class="rules">
                        <!-- <p>{{event['rules']}}</p> -->
                        <ul>
                            <li>It is an individual event.</li>
                            <li>Doubts regarding anything should be asked directly to the contacts provided by Team Version. Posting it in public forums will not be entertained.</li>
                            <li>Unfair means to guarantee advantage will lead to disqualification.</li>
                            <li>Plagiarism will lead to disqualification.</li>
                            <li>The solutions should not be made public or open-sourced during the contest.</li>
                            <li>The decision of the organizers will be final and binding in any case of disputes.</li>
                        </ul>
                        <p>Judging Criteria: At the end of the contest, the participants having highest score on the leaderboard win.</p>
                    </div>
                </div>
                <div id="Register" class="tabcontent">
                    <a href="{{ url_for('register', id = id) }}">Scrim 1 Registrations</a>
                </div>

                <div id="Contact" class="tabcontent">
                    <a href="mailto:contact@version21.in" style="font-weight: 800;">
                        <i class="fas fa-envelope"></i>&nbsp; contact@version21.in
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="next">
        {% if id==4 %}
        <a href="{{url_for('desc', id = 1)}}"><i class="fas fa-chevron-right" id="next"></i></a> {% else %}
                    <a href="{{url_for('desc', id = id+1)}}"><i class="fas fa-chevron-right" id="next"></i></a> {% endif %}
                </div> -->
</div>
<div class="note">
    <p>Note- Registrations are compulsory for prizes</p>
</div>

<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "flex";
        evt.currentTarget.className += " active";
    }
</script>

{% include "footer.html" %} {% endblock %}
</div>