{% extends "base.html" %} {% block header %}

<link rel="stylesheet" href="static/css/events.css" />
<title>{{title}}</title>

{% endblock %} {% block content %}
<h1>Events</h1>
<div class="container1">
  <div class="mycard">
    <div class="img-container">
      <img class="imgbx" src="static/images/back3.jpg" alt="mask pic" />
    </div>
    <div class="details">
      <h2>CODIGO</h2>
      <a href="#">KNOW MORE</a>
    </div>
  </div>
  <div class="mycard">
    <div class="img-container">
      <img class="imgbx" src="static/images/back1.jpg" alt="mask pic" />
    </div>
    <div class="details">
      <h2>COD</h2>
      <a href="#">KNOW MORE</a>
    </div>
  </div>
  <div class="mycard">
    <div class="img-container">
      <img class="imgbx" src="static/images/back2.jpg" alt="mask pic" />
    </div>
    <div class="details">
      <h2>PLAY CODE</h2>
      <a href="#">KNOW MORE</a>
    </div>
  </div>
  <div class="mycard">
    <div class="img-container">
      <img class="imgbx" src="static/images/back1.jpg" alt="mask pic" />
    </div>
    <div class="details">
      <h2>DECODE</h2>
      <a href="#">KNOW MORE</a>
    </div>
  </div>
  <div class="mycard">
    <div class="img-container">
      <img class="imgbx" src="static/images/back2.jpg" alt="mask pic" />
    </div>
    <div class="details">
      <h2>GODZILLA</h2>
      <a href="#">KNOW MORE</a>
    </div>
  </div>
  <div class="mycard">
    <div class="img-container">
      <img class="imgbx" src="static/images/back3.jpg" alt="mask pic" />
    </div>
    <div class="details">
      <h2>CODIGO</h2>
      <a href="#">KNOW MORE</a>
    </div>
  </div>
</div>
{% include "footer.html" %} {% endblock %}
