{% extends "base.html" %} {% block header %}

<link rel="stylesheet" href="static/css/events.css" />
<title>{{title}}</title>

{% endblock %} {% block content %}
<h1>Events</h1>
<div class="container1">
  {% for event in events %}
  <div class="mycard">
    <div class="img-container">
      <img class="imgbx" src="static/images/events/back3.jpg" alt="mask pic" />
    </div>
    <div class="details">
      <h2>{{event['name']}}</h2>
      <a href="/events/{{event['id']}}">Know More</a>
    </div>
  </div>
  {% endfor %}
</div>

<!-- <input type="checkbox" id="modal" class="hs" /> -->
<!-- <div class="modal-wrapper">
  <div class="modalbox">
    <div class="model-content">
      <div class="modal-header">
        <h2>SQLMINE</h2>
        <label for="modal" class="btn-close">X</label>
      </div>
      <div class="model-content-body">
        <div class="main">
          <div class="slide" id="slide1">
            <div class="content">
              <div class="card text-center">
                <div class="card-header">
                  <ul>
                    <li class="btn active">DESCRIPTION</li>
                    <li class="btn">RULES</li>
                    <li class="btn">FORMAT</li>
                    <li class="btn">REGISTER</li>
                    <li class="btn">CONTACT</li>
                  </ul>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Tempore, voluptatibus consequatur dolor minus repellendus
                    saepe nostrum accusantium in ab quia, iusto ratione itaque
                    tenetur corrupti eaque, perspiciatis sapiente doloribus
                    reiciendis! Lorem ipsum, dolor sit amet consectetur
                    adipisicing elit. Tempore, voluptatibus consequatur dolor
                    minus repellendus saepe nostrum accusantium in ab quia,
                    iusto ratione itaque tenetur corrupti eaque, perspiciatis
                    sapiente doloribus reiciendis! Lorem ipsum, dolor sit amet
                    consectetur adipisicing elit. Tempore, voluptatibus
                    consequatur dolor minus repellendus saepe nostrum
                    accusantium in ab quia, iusto ratione itaque tenetur
                    corrupti eaque, perspiciatis sapiente doloribus reiciendis!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Tempore, voluptatibus consequatur dolor minus repellendus
                    saepe nostrum accusantium in ab quia, iusto ratione itaque
                    tenetur corrupti eaque, perspiciatis sapiente doloribus
                    reiciendis!
                  </p>
                  <p class="card-text" id="rules">
                    Rules are here!
                    perspiciatis sapiente doloribus reiciendis!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
{% include "footer.html" %} {% endblock %}
