{% extends "base.html" %} {% block header %}

<link rel="stylesheet" href="static/css/events.css" />
<title>{{title}}</title>
{% endblock %} {% block content %}
<div class="main2" style="flex-direction: column; display:flex; min-height: 87vh;">
    <h1>Events</h1>
    <div class="container1">
        {% for event in events %}


        <!-- <a href="#"> -->
        {% if event['id'] == 1 or  event['id'] == 2 %}
        <a href="/events/{{event['id']}}">
            <div class="mycard mycard1">
                <div class="img-container">
                    <img class="imgbx"
                        src="{{url_for('static', filename='images/events/scrim' + event['id']|string + '.jpeg')}}"
                        alt="pic" />
                </div>
                <div class="details">
                    <h2>{{event['name']}}</h2>
                    <h2 style="font-size:18px; color: red;">(Closed)</h2>
                </div>
            </div>
        </a>
        {% else %}
        <a href="/events/{{event['id']}}">
            <div class="mycard mycard1">
                <div class="img-container">
                    <img class="imgbx"
                        src="{{url_for('static', filename='images/events/worksh.jpeg')}}"
                        alt="pic" />
                </div>
                <div class="details">
                    <h2>{{event['name']}}</h2>
                    <!-- <h2 style="font-size:18px; color: red;">(Closed)</h2> -->
                </div>
            </div>
        </a>
        {% endif %}

        {% endfor %}
    </div>



</div>
{% include "footer.html" %} {% endblock %}