{% extends "base.html" %} {% block header %}
<link rel="stylesheet" href="{{url_for('static',filename='css/feedback.css')}}" />

<title>{{title}}</title>
{% endblock %} {% block content %}
<div class="main">
  <div class="other">
    <h1 style="margin-bottom: 2rem; margin-top: 41px">
      Feedback for {{event.name}}
    </h1>
    {% include 'message.html' %}

    <form action="" method="POST" enctype="multipart/form-data">
      <div class="mycard">
        <div class="content">
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td><label id="email">Overall Experience </label></td>
                <td>
                  <input type="range" name="first" value="1" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
                  <output>1</output>
                </td>
              </tr>

              <tr>
                <td><label id="contact"> Difficulty Level</label></td>

                <td>
                  <input type="range" name="second" value="1" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
                  <output>1</output>
                </td>
              </tr>
              <!-- Roll No -->
              <tr>
                <td><label id="contact"> Clarity of Questions</label></td>
                <td>
                  <input type="range" name="third" value="1" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
                  <output>1</output>
                </td>
              </tr>

              <!-- HackerEarthid -->
              <tr>
                <td>
                  <label id="hack">Accessibility of information regarding event</label>
                </td>
                <td>
                  <input type="range" name="fourth" value="1" min="1" max="10" oninput="this.nextElementSibling.value = this.value">
                  <output>1</output>
                </td>
              </tr>
              <tr>
                <td>
                  <label id="hack">Where did you come to know about this event?
                  </label>
                </td>
                <td>
                  <input type="text" required id="city" placeholder="Your answer" name="fifth" />
                </td>
              </tr>

              <tr>
                <td><label id="hack">Overall Feedback</label></td>
                <td>
                  <textarea id="instituteaddress" name="sixth" rows="6" placeholder="Feedback"></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mycard">
        <div class="content">
          <input type="submit" id="register" value="Submit" href="#" />
        </div>
      </div>
    </form>
  </div>
  {% include "footer.html" %}
</div>

{% endblock %}