{% extends "base.html" %} {% block header %}
<link
  rel="stylesheet"
  href="{{url_for('static',filename='css/feedback.css')}}"
/>

<title>{{title}}</title>
{% endblock %} {% block content %}
<div class="main">
  <div class="other">
    <h1 style="margin-bottom: 2rem; margin-top: 41px">
      Feedback for {{event.name}}
    </h1>
    {% include 'message.html' %}

    <form action="" method="POST" enctype="multipart/form-data">
      <div class="mycard">
        <div class="content">
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td><label id="email">Overall Experience </label></td>
                <td>
                  <input
                    id="ex1"
                    data-slider-id="ex1Slider"
                    type="text"
                    data-slider-min="1"
                    data-slider-max="10"
                    data-slider-step="1"
                    data-slider-value="1"
                    name="first"
                  />
                </td>
              </tr>

              <tr>
                <td><label id="contact"> Difficulty Level</label></td>

                <td>
                  <input
                    id="ex2"
                    data-slider-id="ex1Slider"
                    type="text"
                    data-slider-min="1"
                    data-slider-max="10"
                    data-slider-step="1"
                    data-slider-value="1"
                    name="second"
                  />
                </td>
              </tr>
              <!-- Roll No -->
              <tr>
                <td><label id="contact"> Clarity of Questions</label></td>
                <td>
                  <input
                    id="ex3"
                    data-slider-id="ex1Slider"
                    type="text"
                    data-slider-min="1"
                    data-slider-max="10"
                    data-slider-step="1"
                    data-slider-value="1"
                    name="third"
                  />
                </td>
              </tr>

              <!-- HackerEarthid -->
              <tr>
                <td>
                  <label id="hack"
                    >Accessibility of information regarding event</label
                  >
                </td>
                <td>
                  <input
                    id="ex4"
                    data-slider-id="ex1Slider"
                    type="text"
                    data-slider-min="1"
                    data-slider-max="10"
                    data-slider-step="1"
                    data-slider-value="1"
                    name="fourth"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <label id="hack"
                    >Where did you come to know about this event?
                  </label>
                </td>
                <td>
                  <input
                    type="text"
                    required
                    id="city"
                    placeholder="Your answer"
                    name="fifth"
                  />
                </td>
              </tr>

              <tr>
                <td><label id="hack">Overall Feedback</label></td>
                <td>
                  <textarea
                    id="instituteaddress"
                    name="sixth"
                    rows="6"
                    placeholder="Feedback"
                  ></textarea>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="mycard">
        <div class="content">
          <input type="submit" id="register" value="Submit" href="#" />
        </div>
      </div>
    </form>
  </div>
  {% include "footer.html" %}
</div>
<script>
  var slider = new Slider("#ex1", { tooltip: "always" });
  var slider1 = new Slider("#ex2", { tooltip: "always" });

  var slider2 = new Slider("#ex3", { tooltip: "always" });
  var slider3 = new Slider("#ex4", { tooltip: "always" });
</script>
{% endblock %}
