{% extends "base.html" %} {% block header %}

<link rel="stylesheet" href="static/css/contact.css" />
<style>
    @import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato:300,400,700,900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* BODY STARTS */
    
    body {
        justify-content: center;
        align-items: center;
        background: url(../images/bg.svg) center fixed rgba(0, 0, 0, 0.961);
        background-attachment: fixed;
        background-blend-mode: overlay;
        background-position: center;
        font-size: 62.5%;
    }
    
    h1 {
        margin-top: 5%;
        font-size: 50px;
        text-align: center;
        color: #fff;
        font-weight: bolder;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
    }
    
    @keyframes glow {
        from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #09ccee, 0 0 40px #09ccee;
        }
        to {
            text-shadow: 0 0 12px #fff, 0 0 22px #09ccee, 0 0 22px #09ccee, 0 0 42px #09ccee;
        }
    }
    
    section {
        display: flex;
    }
    
    .random-bg {
        height: 100vh;
        background-color: #111d5e;
        padding-top: 1px;
        background-image: url('https://images.unsplash.com/photo-1528580279421-f0b84f9d7640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=731&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .random-bg::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(17, 29, 94, 0.85);
        z-index: 0;
    }
    
    .winner-wrap {
        width: 200px;
        height: 350px;
        background: #b21f66;
        margin: 5% auto 0;
        position: relative;
        padding: 1rem 2rem 6.5rem 2rem;
        font-family: 'Lato', sans-serif;
        text-align: center;
        cursor: pointer;
    }
    
    .winner-wrap:hover .right-ribbon {
        right: -45px;
        border-left: 20px solid #E0B05C;
        transition: all ease .3s;
    }
    
    .winner-wrap:hover .left-ribbon {
        left: -45px;
        border-right: 20px solid #E0B05C;
        transition: all ease .3s;
    }
    
    .winner-wrap:hover .winner-ribbon {
        box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.2);
        transition: all ease .3s;
    }
    
    .border {
        position: absolute;
        width: 90%;
        height: 90%;
        border: 1px solid rgba(255, 189, 105, 0.4);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    .medal-box {
        width: 60px;
        height: 60px;
        background: #fe346e;
        color: #ffbd69;
        border-radius: 50px;
        line-height: 70px;
        font-size: 2.3rem;
        margin: .8rem auto 1rem;
    }
    
    .winner-wrap h1 {
        color: rgba(255, 189, 105, 0.95);
        font-size: 1.4rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    
    .winner-wrap h2 {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: .85rem;
    }
    
    .winner-ribbon {
        width: 100%;
        height: 50px;
        background: #ffbd69;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 2.8rem;
        color: #fe346e;
        position: absolute;
        bottom: 45px;
        left: 0;
        z-index: 99;
        box-shadow: 0 10px 15px -7px rgba(0, 0, 0, 0.2)
    }
    
    .right-ribbon {
        width: 0;
        height: 0;
        position: absolute;
        right: -35px;
        bottom: 30px;
        border-top: 24px solid #E0B05C;
        border-bottom: 24px solid #E0B05C;
        border-left: 10px solid #E0B05C;
        border-right: 25px solid transparent;
        transition: all ease .3s;
    }
    
    .left-ribbon {
        width: 0;
        height: 0;
        position: absolute;
        left: -35px;
        bottom: 30px;
        border-top: 24px solid #E0B05C;
        border-bottom: 24px solid #E0B05C;
        border-left: 25px solid transparent;
        border-right: 10px solid #E0B05C;
        transition: all ease .3s;
    }
    
    .team-wrap {
        width: 100%;
        margin: 2rem auto;
        text-align: center;
        position: relative;
    }
    
    .team-wrap.inactive .member-pic {
        animation: fadein .3s ease-in forwards;
    }
    
    .team-wrap.active .member-pic:nth-child(1) {
        animation: fadeout .3s ease-in forwards;
    }
    
    .team-wrap.active .member-pic:nth-child(2) {
        animation: fadeout .3s ease-in forwards .1s;
    }
    
    .team-wrap.active .member-pic:nth-child(3) {
        animation: fadeout .3s ease-in forwards .2s;
    }
    
    .team-wrap.active .member-pic:nth-child(4) {
        animation: fadeout .3s ease-in forwards .3s;
    }
    
    .team-wrap.active .member-pic:nth-child(5) {
        animation: fadeout .3s ease-in forwards .4s;
    }
    
    .member-pic {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        margin: auto 1rem;
        border-radius: 50rem;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-200%);
        transform-origin: 0 400px;
    }
    
    .member-pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    @keyframes fadeout {
        from {
            opacity: 0;
            transform: translateY(-200%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    @keyframes fadein {
        from {
            opacity: 1;
            transform: translateY(0);
        }
        to {
            opacity: 0;
            transform: translateY(-200%);
        }
    }
</style>
<title>{{title}}</title>

{% endblock %} {% block content %}

<h1 style="margin-bottom: 2rem; margin-top: 41px">Get in touch with us!</h1>
<div class="main">


    <section class="random-bg">
        <div class="winner-wrap">
            <div class="border"></div>
            <div class="medal-box"><i class="fas fa-medal"></i></div>
            <h1>SCRIM 1</h1>
            <h2>Player 1</h2>
            <div class="winner-ribbon">SECOND</div>
            <div class="right-ribbon"></div>
            <div class="left-ribbon"></div>
        </div>
        <div class="winner-wrap">
            <div class="border"></div>
            <div class="medal-box"><i class="fas fa-medal"></i></div>
            <h1>SCRIM 1</h1>
            <h2>Player 2</h2>
            <div class="winner-ribbon">WINNER</div>
            <div class="right-ribbon"></div>
            <div class="left-ribbon"></div>
        </div>
        <div class="winner-wrap">
            <div class="border"></div>
            <div class="medal-box"><i class="fas fa-medal"></i></div>
            <h1>SCRIM 1</h1>
            <h2>Player 3</h2>
            <div class="winner-ribbon">THIRD</div>
            <div class="right-ribbon"></div>
            <div class="left-ribbon"></div>
        </div>

    </section>

    <script>
        $(document).ready(function() {

            $(".winner-wrap").hover(
                function() {
                    $('.team-wrap').removeClass('inactive').addClass('active');
                },
                function() {
                    $('.team-wrap').removeClass('active').addClass('inactive');
                }
            );

        });
    </script>

    {% include "footer.html" %}
</div>
{% endblock %}